---
import Folder from 'astro-heroicons/outline/Folder.astro';


interface Props {
  path: string;
  name: string;
}
const {path, name} = Astro.props;
---

<div class="link-card">
  <a href={path}>
    <Folder class="w-4 h-4 text-gray-500" />
    <div>
      {name}
    </div>
  </a>
</div>



<style>
  	.link-card {
		display: flex;
		background-color: #ffffff;
		box-shadow: 0 0 0.5rem rgba(0,0,0,0.5);
		border-radius: 0.5rem;
		padding: 1rem;
		width: 150px;
		height: 150px;
		flex-grow: 0;
		flex-shrink: 0;
		margin: 1rem;
	}

		.link-card a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}
</style>