---

interface Props {
  slug: string;
  image: string;
  alt: string;
  title: string;
}

const { slug, image, alt, title }: Props = Astro.props;

---

<section>
  <div class="text-side">
    <div class="projects-header">
      <h2 >Featured Projects</h2>
    </div>
    <article>
      <p>
        Here's a project personal or freelance that I've worked on, or is currently in development.
      </p>
    </article>
  </div>
  <div class="project-side">
    <div class="project-container">
      <a href={`projects/${slug}`}>
        <img src={image} alt={alt}/>
        <p>{title}</p>
      </a>
    </div>
  </div>
</section>


<style>
  section {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    max-width: 1200px;
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .text-side {
    width: 50%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .project-side {
    width: 50%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .projects-header {
    width: 50%;
  }

  .project-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project-container a {
    width: 75%;
    display: block;
  }


  @media screen and (max-width: 932px) {
    section {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
    }

    .projects-header {
      width: 100%;
    }

    .project-container {
      width: 100%;
    }
  }
</style>