---
const currentYear = new Date().getFullYear();
---


<footer>
  <div class="copyright">
    <p>All work &copy; { currentYear }</p>
  </div>
  <div class="social-container">
    <a href="https://github.com/rgrunau">
      github
    </a>
    <a href="https://linkedin.com/in/rjgrunau">
      linkedin
    </a>
    <a href="https://instagram.com/rjgrunau">
      instagram
    </a>
    <a href="https://threads.net/rjgrunau">
      threads
    </a>
  </div>
</footer>

<style>
  footer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid var(--site-orange);
  }

  .copyright {
    font-size: 1.2rem;
  }

  .social-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social-container a {
    font-size: 1.2rem;
    color: var(--site-orange);
    text-decoration: none;
    margin: 0 0.5rem;
  }

  @media screen and (max-width: 944px) {
    footer {
      flex-direction: column;
      align-items: center;
    }
  }
</style>