---
import { routes } from "../../const/const";

---


<header>
  <div class="header-container">
    <div class="masthead">
      <div>
        <a href="/">
          Robert Grunau
        </a>
      </div>
    </div>
    <div>
      <nav>
        {routes.map(route => (
          <a href={route.path}>{route.name}</a>
        ))}
      </nav>
    </div>
  </div>
</header>


<style>
    header {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .header-container {
      width: 100%;
      max-width: 1200px;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--dark-text)
    }

    .masthead {
      font-size: 2.5rem;
      font-weight: 700;
      letter-spacing: 0.1rem;
    }

    .masthead a {
      color: var(--dark-text);
      text-decoration: none;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.2s ease-in-out;
    }

    .masthead a:hover {
      text-decoration: underline;
      border-bottom: 3px solid var(--site-orange);
    }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem;
    }

    nav a {
      color: var(--dark-text);
      text-decoration: none;
      margin: 0 .75rem;
      font-size: 1.60rem;
      letter-spacing: 0.1rem;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.5s ease-in-out;
    }

    nav a:hover {
      color: var(--site-orange);
      text-decoration: underline;
      border-bottom: 3px solid var(--site-orange);
    }

    @media screen and (max-width: 844px) {

      .header-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .masthead {
        font-size: 2rem;
      }
      nav {
        display: flex;
       
      }
      nav a {
        margin: 0 5px;
        font-size: 1.25rem;
      }
    }

    @media screen and (min-width: 428px) and (max-width: 926px) {
      header {
        width: 100%;
      }
      .header-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      nav {
        display: flex;
        padding: 0.5rem 0.25rem;
      }
      nav a {
        margin: 0 0.5rem;
        font-size: 1.5rem;
      }
    }
</style>