---


---


<header>
  <div class="header-container">
    <div class="masthead">
      <div>
        {`{RJG}`}
      </div>
    </div>
  </div>
</header>


<style>
    header {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f1f1f1;
      text-align: center;
    }
    .header-container {
      width: 100%;
      max-width: 1200px;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      color: #151515
    }

    .masthead {
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 0.1rem;
    }

    @media screen and (max-width: 932px) {
      header {
        width: 100%;
      }
    }
</style>