---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/home-page/Hero.astro';

---

<Layout title="Robert Grunau">
	<main>
		<Hero/>
	</main>
</Layout>

<style>
	main {
		margin: 1rem auto;
		padding: 1rem;
		width: 100%;
		max-width: 1200px;
		font-size: 20px;
		line-height: 1.6;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}



	@media screen and (max-width: 600px) {
		main {
			display: flex;
			flex-direction: column;
		}
		
	}

</style>
