---
import { getDatoCMSData } from "../../api/dato-api";
import type { Project } from "../../const/interfaces";
import Layout from "../../layouts/Layout.astro";
import ProjectCard from "../../components/projects/ProjectCard.astro";



const query = `
  query Projects {
    allProjects(orderBy: createdAt_DESC) {
      featured
      slug
      title
      coverImage {
        responsiveImage {
          alt
          aspectRatio
          base64
          bgColor
          height
          src
          srcSet
          webpSrcSet
          width
        }
      }
    }
  }
`

const data = await getDatoCMSData(query);
const { allProjects } = data;


---

<Layout title="Projects | Robert Grunau">
  <main id="mainContent">
    <ul>
      {allProjects.map((project: Project) => (
        <ProjectCard project={project} />
      ))}
    </ul>
  </main>
</Layout>


<style>
  main {
    width: 100%;
    max-width: 1200px;
    min-height: 90vh;
    padding: 1rem 2rem;
    margin: 0 auto;
  }

  ul {
    display: flex;
    flex-flow: wrap row;
    align-items: flex-start;
    justify-content: space-between;
    list-style: none;
    padding: 1rem 1.5rem;
    margin: 0;
  }


  @media (max-width: 944px) {
    main {
      padding: 0.5rem 0.25rem;
    }

    ul {
      padding: 0.5rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
</style>